<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Логін{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Ласкаво просимо</h1>
        <nav>
            <a href="/">Головна</a>
        </nav>
    </header>

    
    <h2>Login</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
            <p style="color: red;">Неправильний логін або пароль.</p>
        {% endif %}
        <button type="submit">Login</button>
        <p>Don't have an account? <a href="/register/">Register</a></p>
    </form>
</body>
</html>
