{% extends "products/product_list.html" %}

{% block content %}
<style>
    body {
        color:#d4d121;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-image: url("/sprites/back4.png");
    }
    .product-details {
        justify-self: center;
        background-color: #1d1d1d;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            padding-top: 5%;
            margin-top: 13%;
            height: 1000px;
            width: 400px;
            border-left: 2px solid #d4d121;
            border-right: 2px solid #d4d121;
    }
    a {
        color: #d4d121;
        text-decoration: none;
        gap: 0px 10px;
    }
</style>
<body>
    <div class="product-details">
        <img src="{{ product.image.url }}" width="400">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}₴</p>
        <p>Category: {{ product.category }}</p>
        <p>Author: {{ product.author }}</p>
        <a href="{% url 'add_to_favorites' product.id %}">
            {% if user in product.favorites.all %}
                Remove from Cart
            {% else %}
                Add to Cart
            {% endif %}
        </a>
    </div>
</body>
</html>
{% endblock %}