{% extends "products/product_list.html" %}

{% block content %}
<style>
    body {
        color:#d4d121;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, sans-serif;
        background-image: url("/sprites/back4.png");
    }
    .product-details {
        display: flex;
        justify-self: center;
        background-color: #1d1d1d;
            border-radius: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            padding: 2%;
            margin-top: 0%;
            height: 80%;
            border: 2px solid #d4d121;
    }
    .btn {
        display: inline-flex;
        top: 80%;
        width: 100%;
        padding: 10px;
        border-top: 2px solid #d4d121;
        border-bottom: 2px solid #d4d121;
        border-right: none;
        border-left: none;
        background-color:#272727;
        cursor: pointer;
        margin-top: 15px;
        color: #d4d121;
    }
    .btn:hover {
        background-color: #d4d121;
        color: #272727;
    }
    
</style>
<body>
    <div class="product-details">
        <img src="{{ product.image.url }}" style="width:400px; max-height: fit-content;">
        <div style="margin-left: 3%;margin-top: -5%;">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <p>Price: {{ product.price }}₴</p>
            <p>Description: {{ product.description }}</p>
            <p>Category: {{ product.category }}</p>
            <p>Author: {{ product.author }}</p>
        </span>
        <span style="padding: 60%; margin-top: 30%;">
            <a class="btn" href="{% url 'add_to_favorites' product.id %}" style="margin-left: -60%;">
            {% if user in product.favorites.all %}
                Remove from Cart
            {% else %}
                Add to Cart
            {% endif %}
            </a>
    </div>
</body>
</html>
{% endblock %}