{% extends "products/product_list.html" %}

{% block content %}
<style>

    .product-details {
        background-color: #8a9a6d;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        padding-top: 5%;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: white;
        text-align: center;
    }
    
    .product-details h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .product-details p {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .product-details img {
        display: block;
        margin: 20px auto;
    }
</style>
<body>
    <div class="product-details">
        <img src="{{ product.image.url }}" width="400">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}₴</p>
        <p>Category: {{ product.category }}</p>
        <p>Автор: {{ user.username }}</p>
        <a href="{% url 'add_to_favorites' product.id %}" style="margin-left: 0px;">
            {% if user in product.favorites.all %}
                <img src="/sprites/heart.png" alt="" style="margin-left: 85%" width="50px"></img>
            {% else %}
                <img src="/sprites/love.png" alt="" style="margin-left: 85%" width="50px"></img>
            {% endif %}
        </a>
    </div>
</body>
</html>
{% endblock %}