{% extends "products/product_list.html" %}
    
{% block content %}
<body>
    <h1>Edit Product</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" value="{{ product.name }}" required><br>

        <label for="description">Description:</label>
        <textarea id="description" name="description" value="{{ product.description }}" ></textarea><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{ product.price }}" required><br>

        <label for="image">Image:</label>
        <input type="file" id="Image" name="Image" value="{{ product.Image }}" required><br>
        <button href="/" type="submit">Save Changes</button>
    </form>
</body>
</html>
{% endblock %}