{% extends "products/product_list.html" %}

{% block content %}
<style>
    body {
        color:#d4d121;
        background-color: #272727;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .container {
        justify-self: center;
        background-color: #1d1d1d;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        margin-top: 13%;
        height: 1050px;
        width: 80%;
        border-left: 2px solid #d4d121;
        border-right: 2px solid #d4d121;
    }
    a {
        color: #d4d121;
        text-decoration: none;
        gap: 0px 10px;
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #d4d121;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
    }
    .btn:hover {
        background-color: #a3a31d;
    }
    .product-item {
        margin-bottom: 20px;
    }
    .product-item img {
        margin-bottom: 10px;
    }
</style>

<h1>Мої улюблені</h1>
<div class="container">
    <ul id="product-list" class="product-list">
        {% for product in products %}
        <li class="product-item" onclick="location.href='/details/{{ product.id }}'" style="cursor: pointer;">
            {% if product.image %}
            <img src="{{ product.image.url }}" width="100">
            {% endif %}
            <div>
                <strong>{{ product.name }}</strong> - {{ product.price }}₴
                <br>
                <span>Категорія: {{ product.category }}</span>
                <br>
            </div>
            <a href="{% url 'add_to_favorites' product.id %}">Remove from Cart</a>
        </li>
        {% empty %}
        <p style="text-align: center;">У вас немає товарів в корзині.</p>
        {% endfor %}
    </ul>

    <div style="text-align: center; margin-top: 20px;">
        <strong>Загальна ціна: {{ total_price }}₴</strong>
    </div>

    <div style="text-align: center;">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Оформити покупку</button>
        </form>
    </div>
</div>
{% endblock %}
