

{% extends "products/product_list.html" %}
    
{% block content %}
<body>
    <header>
        <h1>Ласкаво просимо</h1>
        <nav>
            <a href="/">Головна</a>
        </nav>
    </header>
    <h2>Мої оголошення</h2>
    <ul>
        <a href="{% url 'add_product' %}">Додати оголошення</a>
        {% for product in products %}
            <li>
                <a href="{% url 'details' product.id %}">
                <h3>{{ product.name }}</h3>
                <p>Ціна: {{ product.price }} грн</p>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="150">
                {% endif %}

                </a>
                <br>
                <a href="{% url 'edit_product' product.id %}">Редагувати</a>
                <a href="{% url 'delete_product' product.id %}">Видалити</a>
            </li>
        {% empty %}
            <p>У вас немає активних оголошень.</p>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}